.header_container{
    width: 100%;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.388);
}
.title{
    text-decoration: none;
}
.link{
    background-color: rgba(0, 0, 0, 0.477);
    width:100px ;
    text-align: center;
}
.link:hover{
    background-color: rgba(109, 111, 112, 0.715);
}