.hour_weather_container{
background-color: rgba(98, 110, 125, 0.258);
width: 80%;
margin:10px 0px 0px 0px;
padding: 10%;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}
.hour_weather_container:hover{
    background-color: rgba(98, 110, 125, 0.584);
}
@media (max-width:620px) {
    .flex_container1{
        display: flex;
        flex-direction: column;
    }
    .describtion{
        display: none;
    }
}