.hours_and_diagram_container{
background-color:rgba(255, 255, 255, 0.236) ;
}
.hours_container{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
} 
.hour>img{
    width:50px;
}
.hour{
    background-color: rgba(0, 0, 0, 0.285);
    height: 100px;
    margin:5px;
    padding: 20px;
    border-radius: 12px;
}
.hour:hover{
    background-color: rgba(0, 0, 0, 0.385);
}
.hours_and_diagram_container{
    padding: 5%;
}
.svg{
    height: 200px;
    width: 100%;
}
.diagram_container{
    font-size: 30px;
    width:50%;
    flex-direction: column;
}
@media (max-width:990px) {
    .hours_and_diagram_container{
        flex-direction: column;
        gap:50px
    }
    .hours_container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
        width: 100%;
    }
    .diagram_container{
        width: 100%;
        font-size: 20px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:620px) {
    .diagram_container>span{
        display: none;
    }
}